@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html * {
    margin: 0;
}

#cabecalho {
    height: 12vh;
    background-color: burlywood;
    text-align: center;
    line-height: 0;
}

#conteudo {
    background-image: url(../img/caatinga.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color:rgb(40, 40, 40);
}

#rodape {
    height: 18vh;
    background-color: burlywood;
    text-align: center;
}

#logo-img {
    height: 10vh;
    margin-bottom: 0;
    padding-top: 0;
}

#logo-nome {
    font-size: 5vh;
    font-family: 'Indie Flower', cursive, sans-serif;
    font-weight: normal;
}

.info-rodape {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    padding-top: 2vh;
}

.social-icon {
    height: 4vh;
}

.prato {
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: center;*/
    padding: 2vh 4vh 2vh 4vh;
    border-bottom: 1px solid burlywood;
    background-color: rgba(250, 235, 215, 0.6);
    margin: 0;
}

.nome-prato {
    text-align: center;
    font-size: 3.2vh;
    line-height: 5vh;
}

.imagem-prato {
    display: block;
    margin: auto;
    height: 30vh;
}

.descricao-prato {
    text-align: center;
    font-size: 2.5vh;
}

.ingredientes-prato {
    font-size: 2.7vh;
}

.itens-prato li{
    font-size: 2.5vh;
}